:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main: #f8fff8;
  --color-main-dark: #111;
  --color-notebook: #d59c6a;
  --color-stamps: #353c3f;
  --color-stamps-lines: #001238;
  --color-card: #d59c6a;
}

* {
  margin: 0;
  box-sizing: border-box;
}
